<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pending Withdrawal Request</title>
</head>
<body>
<p>Dear Manager,</p>
<p>A withdrawal request of [[${amount}]] from [[${userEmail}]] is pending your approval.</p>
<p>Withdrawal Account Information:</p>
<ul>
  <li>Account Number: [[${accountNumber}]]</li>
  <li>Account Name: [[${accountName}]]</li>
  <li>Bank Name: [[${bankName}]]</li>
</ul>
<p>Please log in to the system to review and approve the request.</p>
<p>Thank you,</p>
<p>Your Company</p>
</body>
</html>
