<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Withdrawal Request Rejected</title>
</head>
<body>
<p>Dear [[${name}]],</p>
<p>Your withdrawal request of [[${amount}]] has been rejected.</p>
<p>Withdrawal Account Information:</p>
<ul>
  <li>Account Number: [[${accountNumber}]]</li>
  <li>Account Name: [[${accountName}]]</li>
  <li>Bank Name: [[${bankName}]]</li>
</ul>
<p>If you have any questions, please contact support.</p>
<p>Thank you,</p>
<p>Your Company</p>
</body>
</html>
